<header>
    <h1>
        Codial | <%=title%>
    </h1>
</header>
<form action="/users/createSession" method="POST">
    <input type="email" name="email" placeholder="your email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Sign In">
</form>